.env
.git
docker-compose.yml

mods/0kn/cmd/xtrellis/clients.json
mods/0kn/cmd/xtrellis/keys.json
mods/0kn/cmd/xtrellis/messages.json
mods/0kn/cmd/xtrellis/res.json
mods/0kn/cmd/xtrellis/res.json.csv
mods/0kn/cmd/xtrellis/xtrellis

mods/proto/gen

mods/trellis/cmd/*/*.log
mods/trellis/cmd/*/*.pprof
mods/trellis/cmd/certificates/*.key
mods/trellis/cmd/certificates/*.pem
mods/trellis/cmd/client/client
mods/trellis/cmd/coordinator/clients.json
mods/trellis/cmd/coordinator/coordinator
mods/trellis/cmd/coordinator/groups.json
mods/trellis/cmd/coordinator/keys.json
mods/trellis/cmd/coordinator/messages.json
mods/trellis/cmd/coordinator/res.json
mods/trellis/cmd/coordinator/res.json.csv
mods/trellis/cmd/coordinator/servers.json
mods/trellis/cmd/experiments/*.list
mods/trellis/cmd/server/server
mods/trellis/cmd/simulation/simulation
mods/trellis/cmd/testnet2/testnet2
mods/trellis/coordinator/*.pprof
mods/trellis/coordinator/*.prof
mods/trellis/errors/*.log
