.env
.git

api/gen

go/0kn/cmd/xtrellis/xtrellis

go/trellis/cmd/*/*.log
go/trellis/cmd/*/*.pprof
go/trellis/cmd/client/client
go/trellis/cmd/coordinator/clients.json
go/trellis/cmd/coordinator/coordinator
go/trellis/cmd/coordinator/groups.json
go/trellis/cmd/coordinator/keys.json
go/trellis/cmd/coordinator/messages.json
go/trellis/cmd/coordinator/res.json
go/trellis/cmd/coordinator/res.json.csv
go/trellis/cmd/coordinator/servers.json
go/trellis/cmd/server/server
go/trellis/cmd/simulation/simulation
go/trellis/cmd/testnet2/testnet2
go/trellis/coordinator/*.pprof
go/trellis/coordinator/*.prof
go/trellis/errors/*.log
