.env
.git
cmd/*/*.log
cmd/*/*.pprof
cmd/certificates/*.key
cmd/certificates/*.pem
cmd/client/client
cmd/coordinator/clients.json
cmd/coordinator/coordinator
cmd/coordinator/groups.json
cmd/coordinator/keys.json
cmd/coordinator/messages.json
cmd/coordinator/res.json
cmd/coordinator/res.json.csv
cmd/coordinator/servers.json
cmd/experiments/*.list
cmd/server/server
cmd/simulation/simulation
cmd/testnet2/testnet2
cmd/xtrellis/clients.json
cmd/xtrellis/keys.json
cmd/xtrellis/messages.json
cmd/xtrellis/res.json
cmd/xtrellis/res.json.csv
cmd/xtrellis/xtrellis
coordinator/*.pprof
coordinator/*.prof
docker-compose.yml
errors/*.log
pb/gen
